[Unit]
Description=PiAudio Service
After=multi-user.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
User=root
WorkingDirectory=/home/pi/piaudio
ExecStart=/home/pi/venv/bin/python3 /home/pi/piaudio/main.py
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
